.App {
  background-color: rgb(255, 255, 255);
  background-image: url("./assets/monica-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.App-logo {
  height: 20vh;
  pointer-events: none;
  margin-right: 5vh;
  margin-left: 5vh;
}

.img-container {
  text-align: center;
  display: flex;
  flex-direction: row;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  padding-left: 5vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-monica {
  display: flex;
  height: 25vh;
  margin-right: 5vh;
}

.img-magali {
  height: 10vh;
  width: 10vh;
}

.result {
  background-color: #ff746a00;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 10px 0;
  min-height: 4vh;
  border-radius: 3px;
}

.label-result {
  color: #fff;
}

.input {
  border-style: none;
  height: 30px;
}